@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Itim&display=swap");
body {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

ul, ol {
  list-style-type: none;
  padding-right: 0;
  padding-left: 0;
}

a, a:hover {
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  background: #1c1d21;
  z-index: 1;
}

p {
  font-size: 15px;
}

#scroll-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #FF7062;
  opacity: 0.9;
  cursor: pointer;
  display: none;
  transition: 0.2s all ease-in-out;
}
#scroll-up i {
  margin-top: 16px;
  font-size: 20px;
  color: #fff;
  transition: 0.2s all ease-in-out;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#scroll-up:hover i {
  margin-top: 10px;
}
#scroll-up:hover {
  opacity: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: column;
  width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-item {
  text-align: center;
  padding: 0.5rem;
}
.navbar-expand-lg .navbar-nav .nav-item.active {
  background-color: #118755;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  display: inline-block;
}
.navbar-expand-lg .navbar-nav .nav-item img {
  display: inline-block;
}

header {
  background: rgba(155, 148, 95, 0.05);
  padding: 0.5rem;
}
header .header-content .setting .icon img {
  float: right;
}
header .header-content .header-photo .header-titles .name {
  margin-top: 5px;
}
header .header-content .header-photo .header-titles .title {
  color: #03140C;
  opacity: 0.8;
}
header .header-content .notification .notify-title button {
  width: 100%;
  color: #000;
  background-color: rgba(155, 148, 95, 0.05);
  border-color: rgba(155, 148, 95, 0.05);
}
header .header-content .notification .notify-title button img {
  margin-right: 10px;
}
header .header-content .notification .notify-title button span {
  line-height: 15px;
  background-color: #10D171 !important;
  color: #000;
}
.toast {
  margin-top: 15px;
  opacity: 1;
  border-radius: 10px;
  border: none;
}
.toast .toast-header {
  background-color: img;
  background-color-display: inline-block;
  background-color-margin-right: 15px;
}
.toast .toast-header small {
  display: inline-block;
}

.app .ticket-body form .form-control {
  height: 48px;
  width: 50%;
  border-radius: 10px;
}
.app .ticket-body form .btn-modal {
  height: 48px;
  background: #118755 0% 0% no-repeat padding-box;
  color: #fff;
  margin-left: auto;
  border-radius: 10px;
}
.app .ticket-body form .btn-modal img {
  margin-right: 15px;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .material-textfield {
  position: relative;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .material-textfield select, .app .ticket-body form .modal .modal-dialog .modal-content .modal-body .material-textfield input {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  color: #000;
  border-color: #918A55;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .material-textfield label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #918A55;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  animation: fadeup 0.5s 0.5s ease both;
  transform: translateY(20px);
  opacity: 0;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body {
  text-align: center;
  height: 147px;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body.hidden {
  display: none;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body input {
  visibility: hidden;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body i {
  font-size: 65px;
  color: lightgray;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body p {
  font-size: 14px;
  padding-top: 15px;
  line-height: 1.4;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body p b,
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body p a {
  color: #4db6ac;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body.active {
  border: dashed 2px #4db6ac;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body.active i {
  box-shadow: 0 0 0 -3px #fff, 0 0 0 lightgray, 0 0 0 -3px #fff, 0 0 0 lightgray;
  animation: file 0.5s ease both;
}
@keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%, 100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files .body.active .pointer-none {
  pointer-events: none;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer {
  width: 100%;
  margin: 0 auto;
  height: 0;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .divider {
  margin: 0 auto;
  width: 0;
  border-top: solid 4px #46aba1;
  text-align: center;
  overflow: hidden;
  transition: width 0.5s ease;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .divider span {
  display: inline-block;
  transform: translateY(-25px);
  font-size: 12px;
  padding-top: 8px;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer.hasFiles {
  height: auto;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer.hasFiles .divider {
  width: 100%;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer.hasFiles .divider span {
  transform: translateY(0);
  transition: transform 0.5s 0.5s ease;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files::-webkit-scrollbar-thumb {
  background-color: rgba(77, 182, 172, 0.5);
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file {
  width: 300px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: fade 0.35s ease both;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
  text-align: left;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .progress {
  width: 175px;
  height: 5px;
  border: solid 1px lightgray;
  border-radius: 2px;
  background: linear-gradient(to left, rgba(77, 182, 172, 0.2), rgba(77, 182, 172, 0.8)) no-repeat;
  background-size: 100% 100%;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .progress.active {
  animation: progress 30s linear;
}
@keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .done {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #4db6ac;
  border-radius: 50%;
  margin-left: -10px;
  transform: scale(0);
  position: relative;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .done:before {
  content: "View";
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 24px;
  opacity: 0;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .done:hover:before {
  transition: all 0.25s ease;
  top: -30px;
  opacity: 1;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .done.anim {
  animation: done1 0.5s ease forwards;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .done.anim #path {
  animation: done2 2.5s 0.5s ease forwards;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .list-files .file .done #path {
  stroke-dashoffset: 7387.5942382813;
  stroke-dasharray: 7387.5942382813 7387.5942382813;
  stroke: #fff;
  fill: transparent;
  stroke-width: 50px;
}
@keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes done1 {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  80% {
    transform: scale(0.25);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .importar {
  outline: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  border: solid 1px #4db6ac;
  color: #4db6ac;
  background: transparent;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
  font-family: Roboto;
  line-height: 1;
  cursor: pointer;
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  margin-left: calc(50% - 40px);
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .importar.active {
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload .upload-files footer .importar:hover {
  background: #4db6ac;
  color: #fff;
}
@keyframes fadeup {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes faderight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .app .ticket-body form .modal .modal-dialog .modal-content .modal-body .upload {
    width: 100%;
    height: 100%;
  }
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-footer button:first-child {
  color: #fff;
  background: #118755;
  border-radius: 10px;
  padding: 0.5rem 2rem;
}
.app .ticket-body form .modal .modal-dialog .modal-content .modal-footer button:last-child {
  color: #918A55;
  background: transparent;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  border: 1px solid #918A55;
}
.app .ticket-body .accordion .card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.app .ticket-body .accordion .card .card-header {
  position: relative;
}
.app .ticket-body .accordion .card .card-header .sign {
  position: absolute;
  left: -1px;
  top: -1px;
}
.app .ticket-body .accordion .card .card-header h2 button {
  display: flex;
  align-items: center;
}
.app .ticket-body .accordion .card .card-header h2 button .left-side {
  display: inline-block;
  border-right: 1px solid #eee;
  padding-left: 15px;
  padding-right: 15px;
}
.app .ticket-body .accordion .card .card-header h2 button .left-side .number {
  display: block;
  font-size: 30px;
  font-weight: 100;
}
.app .ticket-body .accordion .card .card-header h2 button .left-side .text {
  display: block;
  font-size: 12px;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side {
  display: inline-block;
  padding-left: 15px;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side .first .text1 {
  font-size: 12px;
  color: #55615B;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side .first img {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side .first .text2 {
  font-size: 12px;
  color: #55615B;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side .second img {
  margin-right: 7px;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side .second .title {
  font-size: 16px;
  display: inline;
  margin-right: 15px;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side .second .one {
  font-size: 12px;
  color: #55615B;
  padding-right: 10px;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side .second .two {
  font-size: 12px;
  padding-right: 10px;
  color: #55615B;
}
.app .ticket-body .accordion .card .card-header h2 button .right-side .second .three {
  font-size: 12px;
  color: #55615B;
  padding-right: 10px;
}
.app .ticket-body .accordion .card .collapse .card-body p {
  font-size: 13px;
}
.app .ticket-body .accordion .card .collapse .card-body .bottom .left {
  display: inline-block;
}
.app .ticket-body .accordion .card .collapse .card-body .bottom .left img {
  margin-right: 10px;
}
.app .ticket-body .accordion .card .collapse .card-body .bottom .right {
  display: inline-block;
  float: right;
}
.app .ticket-body .accordion .card .collapse .card-body .bottom .right img {
  margin-right: 10px;
}
.app .ticket-body .accordion .card .collapse .card-body .bottom .right a {
  color: #000;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
  }
}

/*# sourceMappingURL=homepage.css.map */
