nav(class="navbar navbar-expand-lg navbar-light bg-light")
  .container-fluid
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarSupportedContent") 
      ul(class="navbar-nav m-auto mb-2 mb-lg-0")
        li(class="nav-item")
            a(class="navbar-brand nav-link" href="#") 
                img(src="imgs/logo.png")
        li(class="nav-item active")
            img(src="imgs/links/sad.png")
            a(class="nav-link active" aria-current="page" href="#") Complains
        li(class="nav-item")
            img(src="imgs/links/help.png")
            a(class="nav-link" href="#") Inquiries
        li(class="nav-item")
            img(src="imgs/links/stethoscope.png")
            a(class="nav-link" href="#") Consultation
        li(class="nav-item")
            img(src="imgs/links/light-bulb.png")
            a(class="nav-link" href="#") Suggestions
        li(class="nav-item")
            img(src="imgs/links/book.png")
            a(class="nav-link" href="#") Knowledge Base
        li(class="nav-item")
            img(src="imgs/links/group.png")
            a(class="nav-link" href="#") Users