header
    .container
        .row
            .col-12
                .header-content
                    .setting
                        .icon
                            a(href="")
                                img(src="imgs/gear.png" alt="gear")
                    .header-photo.text-center
                        img(src="imgs/mask.png")
                        .header-titles
                            h4.name Abdullah Mohammed
                            p.title CC Agent (Experience)
                    .notification
                        .notify-title
                            button(type="button" class="btn btn-primary text-left")
                                img(src="imgs/bell.png")
                                | Notifications
                                span(class="badge bg-secondary float-right") 10
                        .notify-details
                            include toasts.pug
                            include toasts.pug
                            include toasts.pug
                            include toasts.pug
                            include toasts.pug